<article class="post">
  <header class="post-header home">
    <div class="post-title">{{ page.title }}</div>
  </header>

  <ul>
    {% for post in site.categories[page.category] %}
      <li>
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}

        <!-- <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->

      </li>
    {% endfor %}
  </ul>
</article>